<template>
  <v-container >
    <v-layout
      text-center
      wrap
    >
      <v-flex xs12 class="greeting">
        <p>How Does Twitter Feel About ...</p>
      </v-flex>
      <v-flex xs12>
        <v-text-field
          outlined
          label="Search Term"
          aria-label="Search Term"
          aria
          v-model="query"
          dark
          append-icon="search"
          @click:append="classify"
          v-on:keyup.enter="classify"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <div
      v-show="showLoadingOverlay" class="loading-overlay">
      <div class="spinner-container" role="alert" aria-live="assertive">
        <breeding-rhombus-spinner
          :animation-duration="2000"
          :size="65"
          color="#ff1d5e"
        />
        <p class="loading-text">Analysing Tweets</p>
      </div>
    </div>
    <v-snackbar
      v-model="snackbar"
    >
      {{ errorMessage }}
      <v-btn
        color="pink"
        text
        @click="onSnackbarClose()"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
import axios from 'axios';
import {BreedingRhombusSpinner} from 'epic-spinners'

export default {
  name: 'MainPage',

  components: {
    BreedingRhombusSpinner
  },

  data: () => ({
    query: '',
    classifications: [],
    tweets: [],
    showLoadingOverlay: false,
    snackbar: false,
    errorMessage: '',
  }),

  methods: {
    classify () {
      this.showLoadingOverlay = true;
      let self = this;
      axios.post('http://0.0.0.0:5000/api/classify', {
        query: self.query
      }).then(function (res) {
        self.$emit('initialFetchComplete', res.data)
      }).catch(function () {
        self.errorMessage = 'An error has occurred, please try again later.'
        self.snackbar = true;
      });
    },

    onSnackbarClose() {
      this.snackbar = false;
      this.showLoadingOverlay = false;
    },
  },

};
</script>

<style scoped lang="scss">
    .loading-overlay {
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 10;
    }

    .spinner-container {
      left: calc(50vw - 50px);
      position: absolute;
      width: 100px;
      text-align: center;
      top: calc(50vh - 50px);
    }

    .breeding-rhombus-spinner {
      left: 17px;
    }

    .loading-text {
      color: #F5F5F5;
      padding-top: 20px;
    }

    .greeting {
      color: #F5F5F5;
      font-size: 2rem;
      padding-top: 40vh;
    }
</style>