<template>
  <v-layout
    text-center
    wrap
    class="page-container"
  >
    <v-row>
      <v-col :cols="isPortrait() ? 12 : 6">
        <div 
          :class="getFirstContainerClass()"
          role="alert"
          aria-live="assertive" 
          aria-label="fetch complete">
          <v-col cols="12">
            <v-text-field
              outlined
              dark
              label="Search Term"
              v-model="query"
              append-icon="search"
              @click:append="classify"
              v-on:keyup.enter="classify"
            ></v-text-field>
          </v-col>
          <v-col v-show="!isPortrait()" cols="12" class="emote-container">
            <div :aria-label="getAriaLabelEmote()">
              <p aria-hidden="true">{{ this.getEmote() }}</p>
            </div>
          </v-col> 
          <v-col cols="12" class="chart-container">
            <pie-chart
              :data="chartData"
              :legend="false"
              suffix="%"
              :colors="chartColors"
              :width="chartWidth"
              :height="chartHeight"
            ></pie-chart>
          </v-col>
        </div>
      </v-col> 
      <v-col :cols="isPortrait() ? 12 : 6">
        <div :class="getSecondContainerClass()">
          <div
            class="tweet-container"
            v-for="(tweet, index) in tweets"
            :key="`tweet-${index}`"
            v-bind:class="getTweetColour(index)"
          >
            <p>{{tweet + ' - ' + classifications[index]}}</p>
          </div>
        </div>
      </v-col>
      <div v-if="showLoadingOverlay" class="loading-overlay">
        <div class="spinner-container" role="alert" aria-live="assertive">
          <breeding-rhombus-spinner
            :animation-duration="2000"
            :size="65"
            color="#ff1d5e"
          />
          <p class="loading-text">Analysing Tweets</p>
        </div>
      </div>
    </v-row>
    <v-snackbar
      v-model="snackbar"
    >
      {{ errorMessage }}
      <v-btn
        color="pink"
        text
        @click="onSnackbarClose()"
      >
        Close
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
import axios from 'axios';
import {BreedingRhombusSpinner} from 'epic-spinners'

export default {
  name: 'ResultsPage',

  components: {
    BreedingRhombusSpinner
  },

  props: [
    'tweets',
    'classifications'
  ],

  data: () => ({
    query: '',
    negative: 0,
    neutral: 0,
    positive: 0,
    red: '#fdaeb7',
    white: '#F5F5F5',
    green: '#bef5cb',
    showLoadingOverlay: false,
    window: {
      width: 0,
      height: 0
    },
    orderedResults: {},
    snackbar: false,
    errorMessage: '',
  }),

  created() {
    this.updateSentiments();
    window.addEventListener('resize', this.handleResize)
    this.handleResize();
  },

  destroyed() {
    window.removeEventListener('resize', this.handleResize)
  },

  methods: {
    classify () {
      this.showLoadingOverlay = true;
      let self = this;
      axios.post('http://0.0.0.0:5000/api/classify', {
        query: self.query
      }).then(function (res) {
        self.$emit('fetchComplete', res.data)
      }).catch(function () {
        self.errorMessage = 'An error has occurred, please try again later.'
        self.snackbar = true;
      });
    },

    getTweetColour(index) {
      return this.classifications[index];
    },

    getTweetIcon(index) {
      switch (this.classifications[index]) {
        case 'negative':
          return 'minus';
        case 'neutral':
          return 'equal';
        case 'positive':
          return 'plus';
      }
    },

    getOrderedResults() {
      var total,
        negative,
        neutral,
        positive;
      total = this.negative + this.neutral + this.positive;
      negative = this.negative / total;
      neutral = this.neutral / total;
      positive = this.positive / total;
      this.orderedResults = {
        values: [negative],
        labels: ['negative']
      };
      if (this.orderedResults.values[0] < neutral) {
        this.orderedResults.values.unshift(neutral);
        this.orderedResults.labels.unshift('neutral');
      } else {
        this.orderedResults.values.push(neutral);
        this.orderedResults.labels.push('neutral');
      }
      if (this.orderedResults.values[0] < positive) {
        this.orderedResults.values.unshift(positive);
        this.orderedResults.labels.unshift('positive');
      } else {
        if (this.orderedResults.values[1] < positive) {
          this.orderedResults.values.splice(1, 0, positive);
          this.orderedResults.labels.splice(1, 0, 'positive');
        } else {
          this.orderedResults.values.push(positive);
          this.orderedResults.labels.push('positive');
        }
      }
    },

    getAriaLabelEmote() {
      return `The highest sentiement was ${this.orderedResults.labels[0]} with ${this.orderedResults.values[0] * 100} percent. Next was ${this.orderedResults.labels[1]} with ${this.orderedResults.values[1] * 100} percent. Finally ${this.orderedResults.labels[2]} with ${this.orderedResults.values[2] * 100} percent`;
    },

    getEmote() {
      switch (this.orderedResults.labels[0]) {
        case 'negative':
          return ':(';
        case 'neutral':
          return ':|';
        case 'positive':
          return ':)';
      }
    },

    updateSentiments() {
      this.negative = 0;
      this.neutral = 0;
      this.positive = 0;
      for (const classification of this.classifications) {
        switch (classification){
          case 'negative':
            this.negative++;
            break;
          case 'neutral':
            this.neutral++;
            break;
          case 'positive':
            this.positive++;
            break;
        }
      }
      this.getOrderedResults();
    },

    stopLoading() {
      this.showLoadingOverlay = false;
    },

    handleResize() {
      this.window.width = window.innerWidth;
      this.window.height = window.innerHeight;
    },

    isPortrait() {
      return window.screen.orientation.type === 'portrait-primary';
    },

    getFirstContainerClass() {
      if (this.isPortrait()) {
        return 'top-container';
      }
      return 'left-container';
    },

    getSecondContainerClass() {
      if (this.isPortrait()) {
        return 'bottom-container';
      }
      return 'right-container';
    },

    onSnackbarClose() {
      this.snackbar = false;
      this.showLoadingOverlay = false;
    },
  },

  computed: {
    chartData() {
      return [
        ['Negative', this.negative],
        ['Neutral', this.neutral],
        ['Positive', this.positive]
      ]
    },

    chartColors() {
      return [
        this.red,
        this.white,
        this.green
      ]
    },

    chartWidth() {
      return (this.window.width - 150) / 2 + 'px';
    },

    chartHeight() {
      return (this.window.height - 150) / 2 + 'px';
    }
  },
  
  watch: {
    classifications() {
      this.updateSentiments();
    },
  },
};
</script>

<style scoped lang="scss">
    .loading-overlay {
      background-color: rgba(0, 0, 0, 0.6);
      height: 100vh;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: 10;
    }

    .spinner-container {
      left: calc(50vw - 50px);
      position: absolute;
      width: 100px;
      text-align: center;
      top: calc(50vh - 50px);
    }

    .breeding-rhombus-spinner {
      left: 17px;
    }

    .loading-text {
      color: #F5F5F5;
      padding-top: 20px; 
    }

    .left-container {
      color: #F5F5F5;
      padding: 10px;

      .emote-container {
        p {
          font-size: 25vh;
        }
      }

      .chart-container {
        position: absolute;
        top: 50%;
      }
    }

    .right-container {
      height: 100vh;
      overflow-y: auto;
      margin-right: -50px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 60px; // hide scroll bar
      padding-top: 10px;
      overflow-x: hidden;
    }

    .top-container {
      color: #F5F5F5;
      padding: 10px;

      .chart-container {
        display: flex;
        justify-content: center;
      }
    }

    .bottom-container {
      height: 100vh;
      overflow-y: auto;
      margin-right: -50px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 60px; // hide scroll bar
      padding-top: 10px;
      overflow-x: hidden;
    }

    .page-container {
      background-color: rgb(50, 50, 50);
      padding: 20px;
    }

    .tweet-container {
      border-radius: 5px;
      margin-bottom: 10px;
      padding: 16px 16px;

      &.negative {
        background-color: #fdaeb7;
      }

      &.neutral {
        background-color: #F5F5F5;
      }

      &.positive {
        background-color: #bef5cb;
      }
    }
</style>