<template>
  <v-app class="app-container">
    <div v-if="showMainPage">
      <MainPage
        @initialFetchComplete="onInitialFetchComplete"
      />
    </div>
    <div v-else>
      <ResultsPage
        v-bind:tweets="tweets"
        v-bind:classifications="classifications"
        @fetchComplete="onFetchComplete"
        ref="resultsPage"
      />
    </div>
  </v-app>
</template>

<script>
import MainPage from './components/MainPage';
import ResultsPage from './components/ResultsPage';

export default {
  name: 'App',

  components: {
    MainPage,
    ResultsPage,
  },

  data: () => ({
    showMainPage: true,
    tweets: [],
    classifications: [],
  }),

  methods: {
    onInitialFetchComplete(data) {
      this.tweets = data.tweets;
      this.classifications = data.classifications;
      this.showMainPage = false;
    },

    onFetchComplete(data) {
      this.tweets = data.tweets;
      this.classifications = data.classifications;
      this.$refs.resultsPage.stopLoading();
    },
  }
};
</script>

<style lang="scss">
    html {
      overflow: hidden !important;
    }

    #app {
      background-color: rgb(50, 50, 50);
    }
</style>